body {
    background-color: #fafd7cff;
    color: #24325fff;
    font-family: 'Chalkduster',
        fantasy;
}

.App {
    text-align: center;
}

a {
    text-decoration: none;
    color: #24325fff
}

a:hover,
button:hover {
    cursor: pointer;
}

form input {
    padding: 10px;
    background-color: #69c8ecff;
    color: #24325fff;
    font-family: 'Rick and Morty';
    border-radius: 10px;
    border: 2px solid black;
}

button {
    margin: 10px;
    padding: 7px;
    border-radius: 10px;
    background-color: #69c8ecff;
    color: #24325fff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Rick and Morty';
}