#episodes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (min-width: 700px) {
    #episodes {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1200px) {
    #episodes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}