#locations {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.location {
    margin: 5% 10%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#locations-buttons button {
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: #69c8ecff;
    color: #24325fff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Rick and Morty';
}